<div class="ui container inquiry-list">
  <h1 *ngIf="authService.isLoggedIn() && !authService.isLector()">Sent Inquiries</h1>
  <p *ngIf="authService.isLoggedIn() && !authService.isLector()">Here you will find a collection of your sent inquiries.
    Tip: Use the filter for a better overview!</p>

  <h1 *ngIf="authService.isLoggedIn() && authService.isLector()">Received Inquiries</h1>
  <p *ngIf="authService.isLoggedIn() && authService.isLector()">Here you will find a collection of your received
    inquiries. Tip: Use the filter for a better overview!</p>

  <div class="btn">
    <div class="ui selection dropdown changeTab">
      <input type="hidden" name="status">
      <div class="text">all</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item active selected" data-value="all" (click)="changeInquiriesArray(0)">all</div>
        <div class="item" data-value="waiting" (click)="changeInquiriesArray(1)">waiting</div>
        <div class="item" data-value="accepted" (click)="changeInquiriesArray(2)">accepted</div>
        <div class="item" data-value="rejected" (click)="changeInquiriesArray(3)">rejected</div>
        <div class="item" data-value="closed" (click)="changeInquiriesArray(4)">closed</div>
      </div>
    </div>
  </div>

  <div class="ui link cards">
    <ng-container *ngFor="let inquirie of inquiriesByStatus?.reverse()">
      <!-- is Lector -->
      <div *ngIf="authService.isLector() && inquirie?.offer?.user_id == authService.getCurrentUserId()"
           class="ts-inquirie-list-item ui card dimmable" [inquirie]="inquirie" (changeStatus)="ngOnInit()"></div>


      <!-- is Student -->
      <div *ngIf="!authService.isLector() && inquirie?.user_id == authService.getCurrentUserId()"
           class="ts-inquirie-list-item ui card dimmable" [inquirie]="inquirie"></div>

    </ng-container>


    <div *ngIf="!inquiries" class="ui active dimmer">
      <div class="ui large text loader">Loading</div>
    </div>

    <p *ngIf="inquiries && !inquiries.length">Es sind keine Offers vorhanden.</p>
  </div>
</div>
